body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  header {
    
  color: rgb(7, 7, 7);
  text-align: center;
  padding: 2em 0;
  }
  
  #search {
    width: 70%;
    max-width: 400px;
    padding: 10px;
    font-size: 16px;
    margin: 20px auto; /* Centre la barre de recherche et ajoute une marge en haut */
    box-sizing: border-box;
    display: block; /* Ajuste le comportement du margin auto avec display block */
  }
  
  h1 {
    margin-top: 20px; /* Ajoute une marge en haut pour séparer le titre de la barre de recherche */
  }
  
  #recettes-container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .recette {
    background-color: white;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .recette h2 {
    color: #333;
  }
  
  .recette p {
    margin-bottom: 10px;
  }
  
  .recette .categorie {
    font-style: italic;
    color: #777;
  }
  
  .recette .etoiles {
    color: orange;
  }
  
  .recette .commentaires {
    color: #777;
  }
  
  .recette .ingredients {
    font-weight: bold;
  }
  
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  /* Responsive Styles */
  @media screen and (max-width: 600px) {
    #recettes-container {
      padding: 10px;
    }
    
    .recette {
      padding: 15px;
      margin-bottom: 15px;
    }
  }
  